html, body{
    margin: 0;
    padding: 0;

    height: 100%;
}

.parent{
    display:grid;
    place-items:center;

    height: 100%;
}

.box{
    padding: 10px;
    margin: 10px;
    border-radius: 12px;

    font-family: cursive;
    font-size: 14px;

    color: #fff;
}

/* Style
----------------------------------------------------------------
*/
.blue{background-color: lightblue;}
.coral{background-color: lightcoral;}